<div class="white_cart">
  <!-- <div class="col-md-6"> -->
    <% if announce.pictures.any? %>

      <%= image_tag(announce.pictures.first.picture.url(:medium), alt: "Flat Picture") %>
    <% else %>
      <%= image_tag('no_photo.png', class: "no_photo") %>
    <% end %>
  <!-- </div> -->
  <!-- <div class="col-md-6"> -->
    <p class="category-property"><%= announce.property.name %></p>
    <p class="locality"><%= announce.locality %></p>
    <h3 class="title"><%= announce.title.capitalize.truncate(30) %></h3>
    <p class="description"><%= announce.description.truncate(90) %></p>
    <%= link_to "En savoir plus", announce_path(announce), class: "btn btn-black" %>
  <!-- </div> -->
</div>