<h1>Announces#show</h1>
<p>Find me in app/views/announces/show.html.erb</p>



<!-- <div class="full_picture">
<%= image_tag(@announce.pictures.first.picture.url(:cover), alt: "Flat Picture", class: "full") %>
<%= image_tag("arrow.png", class: "arrow") %>

</div> -->
<div class="navigation fixed">
<section id="slider">
        <div class="flexslider loading">
            <div id="loading-icon"><i class="fa fa-cog fa-spin"></i></div>
            <ul class="slides">
                <li class="slide"><img src="assets/img/slide-01.jpg" alt=""><%= image_tag(@announce.pictures.first.picture.url(:cover), alt: "Flat Picture") %></li>
                <li class="slide"><img src="assets/img/slide-02.jpg" alt=""></li>
                <li class="slide"><img src="assets/img/slide-03.jpg" alt=""></li>
            </ul><!-- /.slides -->
        </div><!-- /.flexslider -->
        <div class="slider-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <div class="title">
                            <h2>Final inspection just started!</h2>
                            <figure class="subtitle">Subscribe and get notified about new condos for you</figure>
                            <i class="fa fa-arrow-circle-o-right"></i>
                        </div><!-- /.title -->
                    </div><!-- /.col-md-8 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="form-slider-wrapper">
                            <header>
                                <h3>Welcome to your</h3>
                                <h1>New Living!</h1>
                            </header>
                            <hr>
                            <form role="form" id="form-slider">
                                <div class="form-group">
                                    <label for="name">Your Name<em>*</em></label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="email">Your Email<em>*</em></label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="phone">Your Phone<em>*</em></label>
                                    <input type="text" class="form-control" id="phone" name="phone" required>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <div id="form-slider-status"></div>
                                    <button type="submit" id="form-slider-submit" class="btn btn-default">Get Notified!</button>
                                </div><!-- /.form-group -->
                            </form><!-- /#form-slider -->
                            <figure>*Required Fields</figure>
                        </div><!-- /.form-slider-wrapper -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slider-banner -->
    </section><!-- /#slider -->


</div>






<p>titre<%= @announce.title %></p>
<p>type de bien<%= @announce.property.name %></p>
<p>nombre de chambre<%= @announce.bed %></p>
<% for picture in @announce.pictures %>
  <li><%= link_to image_tag(picture.picture.url(:thumb)), picture.picture.url(:medium) %></li>
<% end %>


<div class="row">
      <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps/ms?ie=UTF8&amp;msa=0&amp;msid=101686375028251599401.0004484f73bea6145ef6b&amp;ll=<%=@announce.latitude%>,<%=@announce.longitude%>&amp;spn=0,0&amp;output=embed&amp;s=AARTsJqhzeyiqiLGEqDCDC7ar_q7Q1nmAw"></iframe>
    </div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @announce_coordinates %>;
      alert('Announce coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>

