<h1>Announces#new</h1>
<p>Find me in app/views/announces/new.html.erb</p>

<%= form_for(@search) do |f| %>
  <%= f.label :property_id %><br />
    <%= f.collection_select :property_id, Property.order(:name), :id, :name, include_blank: true %>

  <%= f.label :slocality %>
  <%= f.text_field :slocality %>

  <%= f.label :ssurface %>
  <%= f.text_field :ssurface %>

  <%= f.submit %>
<% end %>